@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  @apply text-primary-text;
}

@theme {
  --color-primary: #1b1b1e;
  --color-primary-text: #474350;
  --color-gray-lines: #e1e1e1;
  --font-family-mono: 'IBM Plex Mono', monospace;
}

@layer components {
  .main-heading {
    @apply text-xl font-semibold text-primary-text font-family-mono;
  }
}
